<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/mermaid/10.9.1/mermaid.min.js"></script>
    <title>Vite App</title>
    <script type="module" crossorigin src="/assets/index.cdb39230.js"></script>
    <link rel="modulepreload" href="/assets/vendor.f7d8e140.js">
    <link rel="stylesheet" href="/assets/index.2181015a.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
